.change-color {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 8px;
    padding: 8px 16px;
    width: 148px;
    height: 40px;
    background: #4e75ff;
    border: #4e75ff;
}

.widget {
    border-radius: 8px;
    padding: 100px 88px;
    width: 345px;
    height: 280px;
    background-color: #fff;
}

.change-color:hover,
.change-color:focus {
    background-color: #6c8cff;
}